launchDir = "$proj/rnaseq/nf/zm.ca21a2"
workDir = "$NXF_CACHE/work/rnaseq/zm.ca21a2"

includeConfig "$nf/configs/nextflow.config"
includeConfig "$nf/configs/fastq.config"
includeConfig "$nf/configs/mapping.config"
includeConfig "$nf/configs/rnaseq.config"

params {
    genome = 'Zmays_B73v5'
    name = 'zm.ca21a2'
    design = 'design.tsv'
    source = 'local'
    read_type = 'illumina'
    paired = 'PE'
    outdir = "./raw"
    s3dir = "/datalus/weiyu//projects/s3/zhoup-nfo"
    tracedir = "./pipeline_info"
    stranded = 'no'
    interleaved = false
    save_fastq = false
    trimmer = "trim_galore"
    save_trimmed = false
    aligner = "hisat2"
    saveBAM = false
    skip_preseq = true
    skip_markdup = true
    skip_qualimap = true
    run_salmon = false
    run_stringtie = false
    count_multi = false
    ase = false
    ril = false
    cage = false
}

process {
}

