launchDir = "$proj/rnaseq/nf/zm.cg20a"
workDir = "$NXF_CACHE/work/rnaseq/zm.cg20a"

includeConfig "$nf/configs/nextflow.config"
includeConfig "$nf/configs/fastq.config"
includeConfig "$nf/configs/rnaseq.config"

params {
  //genome = 'Zmays_B73v5,Zmays_B97,Zmays_CML103,Zmays_CML228,Zmays_CML247,Zmays_CML277,Zmays_CML322,Zmays_CML333,Zmays_CML52,Zmays_CML69,Zmays_HP301,Zmays_Il14H,Zmays_Ki11,Zmays_Ki3,Zmays_Ky21,Zmays_M162W,Zmays_M37W,Zmays_Mo18W,Zmays_Ms71,Zmays_NC350,Zmays_NC358,Zmays_Oh43,Zmays_Oh7B,Zmays_P39,Zmays_Tx303,Zmays_Tzi8,Zmays_Mo17,Zmays_W22,Zmays_DK105,Zmays_PE0075'
  genome = 'Zmays_B73v5,Zmays_B97,Zmays_CML103,Zmays_CML228,Zmays_CML247,Zmays_CML277,Zmays_CML322,Zmays_CML333,Zmays_CML52,Zmays_CML69,Zmays_DK105,Zmays_Ky21,Zmays_M162W'
  name = 'zm.cg20a'
  design = 'design.tsv'
  source = 'local'
  read_type = 'illumina'
  paired = 'SE'
  outdir = "./raw"
  tracedir = "./pipeline_info"
  stranded = 'no'
  interleaved = false
  save_fastq = false
  trimmer = "trim_galore"
  save_trimmed = false
  aligner = "hisat2"
  saveBAM = false
  skip_preseq = true
  skip_markdup = true
  run_salmon = false
  run_stringtie = false
  count_multi = true
  ase = false
  ril = false
  cage = true
}

def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
